mat-card {
  padding: 2em;
  margin: auto;
  margin-top: 2em;
  width: 75%;
}

// .loginform {
//   min-width: 150px;
//   max-width: 500px;
//   width: 100%;

// }

.full-width {
  display: block;
  margin: 1em;
  // width: 100%;
}
